/* colors */
/* font-sizes */
:root {
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

@media (max-width: 35em) {
  :root {
    --fs-900: 5rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) {
  :root {
    --fs-900: 6rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}
/* font-families */
@keyframes radiateBorder {
  from {
    outline: solid 10px rgba(255, 255, 255, 0.25);
  }
  to {
    outline: solid 20px rgba(255, 255, 255, 0.25);
  }
}
/*----------*/
/*  RESETS  */
/*----------*/
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: #0c0e18;
  background-size: cover;
  background-position: bottom center;
  color: white;
  display: grid;
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-400);
  grid-template-rows: min-content 1fr;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*------------*/
/*  Utility   */
/*------------*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: 1rem;
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 4em;
  width: 100%;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}
.grid-container p:not([class]) {
  max-width: 50ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: white;
  color: #0c0e18;
  padding: 0.5em 1em;
  margin-inline: auto;
  transition: transform 150ms ease-in-out;
  transform: translateY(-100%);
}
.skip-to-content:focus {
  transform: translateY(0);
}

.box {
  background: lightblue;
  padding: 3rem;
}

/* olors */
.bg-dark {
  background-color: #0c0e18;
}

.bg-accent {
  background-color: #d2d8f9;
}

.bg-white {
  background-color: white;
}

.text-dark {
  color: #0c0e18;
}

.text-accent {
  color: #d2d8f9;
}

.text-white {
  color: white;
}

/* typography */
.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  letter-spacing: 4.75px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-500);
  color: 0 0% 100%;
}

.numbered-title span {
  margin-right: 0.5em;
  letter-spacing: 4.75px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
}

.large-button {
  font-size: 2rem;
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  text-decoration: none;
  padding: 0 2em;
}
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 200ms linear, transform 400ms ease-in;
  opacity: 0;
  animation: 850ms infinite alternate radiateBorder;
  animation-timing-function: ease-in;
}
.large-button:hover::after, .large-button:focus::after {
  transform: scale(1.15);
  opacity: 1;
}

.logo {
  margin: 2rem clamp(2rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --underline-gap: 2rem;
  --gap: clamp(1.8rem, 5vw, 3.5rem);
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(12, 14, 24, 0.95);
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2rem);
  }
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  padding-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  .primary-navigation {
    --underline-gap: .5rem;
    list-style: none;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    margin: 0;
    padding: min(20rem, 10vh) 2rem;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 160ms ease-in;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 2rem;
    top: 2rem;
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    transition: background-image 160ms ease-in;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../../assets/shared/icon-close.svg);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid red;
    outline-offset: 4px;
  }
}
@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    margin-right: -2.5rem;
    order: 1;
  }

  .primary-navigation {
    margin-block: 2rem;
  }

  nav {
    order: 2;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(2.75rem, 5vw, 7.65rem);
  }
}
@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a span {
    display: none;
  }
}
.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}
.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.25);
}
.underline-indicators > *.active, .underline-indicators > *[aria-selected=true] {
  border-color: white;
  color: white;
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  border: 0;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
}
.dot-indicators > *:hover, .dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.dot-indicators > *[aria-selected=true] {
  background-color: white;
}

.num-indicators > * {
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: 2em;
  color: white;
  background-color: transparent;
  aspect-ratio: 1;
  border-radius: 50%;
}
.num-indicators > *:hover, .num-indicators > *:focus {
  border-color: white;
}
.num-indicators > *[aria-selected=true] {
  color: #0c0e18;
  background-color: white;
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas: "title" "image" "tabs" "content";
}
.grid-container--destination > img {
  grid-area: image;
  max-width: 60%;
}
.grid-container--destination > .tab-list {
  grid-area: tabs;
}
.grid-container--destination > .destination-info {
  grid-area: content;
}

.numbered-title {
  grid-area: title;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
.destination-meta p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .numbered-title {
    place-self: start;
    margin-block-start: 1rem;
    padding-left: 2.25rem;
  }
}
@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    grid-column: 3;
  }

  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas: ". title title ." ". image tabs ." ". image content .";
  }
  .grid-container--destination > img {
    max-width: 90%;
  }

  .destination-meta {
    justify-content: start;
    --gap: min(6vw, 6rem);
  }
}
.home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
}

@media (min-width: 45em) {
  .home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 77.5em) {
  .home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}
.destination {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 45em) {
  .destination {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 77.5em) {
  .destination {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}

/*# sourceMappingURL=style.css.map */
