@use '../abstracts/vars';
@use '../abstracts/mixins';

.crew {
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
}

@include mixins.for-tablet-portrait-up {
  .crew {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }
}

@include mixins.for-large-desktop-up {
  .crew {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }
}

.crew-img {
  grid-area: image;
  // display: grid;
  // place-items: center;
  border-bottom: 1px solid hsl(vars.$clr-white--alpha50);
}

.crew-title {
  color: hsl(vars.$clr-white--alpha50);
}

.grid-container--crew {
  --flow-space: 2rem;
  grid-template-areas:
    'title'
    'image'
    'dots'
    'content'
  ;
  align-content: start;


  &>.crew-info {
    align-self: start;
    grid-area: content;
  }

  &>.crew-dots {
    align-self: end;
    grid-area: dots;
  }

  & picture {
    max-width: 60%;
    align-self: end;
  }
}

@include mixins.for-phone-up {
  .grid-container--crew {
    padding-bottom: 0px;
    grid-template-areas:
      'title'
      'content'
      'dots'
      'image'
    ;
  }

  .crew-img {
    border: none;
    align-self: end;
  }
}

@include mixins.for-tablet-portrait-up {
  .grid-container--crew {
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 32rem) minmax(0, 28rem) minmax(1rem, 1fr);
    justify-items: start;
    grid-template-areas:
      '. title title .'
      '. content image .'
      '. dots image .'
    ;

    &>picture {
      grid-column: span;
      align-self: end;
      max-width: 100%;
    }
  }

  .crew-dots {
    justify-self: start;
  }
}