@use '../abstracts/mixins';

.home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
}

@include mixins.for-tablet-portrait-up {
  .home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}

@include mixins.for-large-desktop-up {
  .home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

@include mixins.for-tablet-portrait-up {
  .grid-container--home {
    padding-bottom: #{"max(6rem, 20vh)"};
    align-items: end;

    &>*:first-child {
      grid-column: 2;
    }

    &>*:last-child {
      grid-column: 3;
    }
  }
}

@include mixins.for-large-desktop-up {
  .grid-container--home {
    align-items: center;
  }
}