@use '../abstracts/vars';

.large-button {
  font-size: 2rem;
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  text-decoration: none;
  padding: 0 2em;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 200ms linear, transform 400ms ease-in;
    opacity: 0;
    animation: 850ms infinite alternate radiateBorder;
    animation-timing-function: ease-in;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.15);
    opacity: 1;

  }

}