@use '../abstracts/vars';
@use '../abstracts/mixins';

/*------------*/
/*  Utility   */
/*------------*/

.flex {
  display: flex;
  gap: var(--gap, vars.$gap);
}

.grid {
  display: grid;
  gap: vars.$gap;
}

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, vars.$flow-space);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 4em;
  width: 100%;
}

.grid-container {
  border: 5px solid greenyellow;
  display: grid;
}

@include mixins.for-tablet-portrait-up {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);

    &>*:first-child {
      grid-column: 2;
      outline: 1px solid red;
    }

    &>*:last-child {
      outline: 1px solid yellow;
      grid-column: 3;
    }
  }
}

.sr-only {
  // Allows us to announce elements to screen reader
  // users, elements that are visually obvious but need
  // further explanation for vision-impared users
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

/* olors */
.bg-dark {
  background-color: hsl(vars.$clr-dark);
}

.bg-accent {
  background-color: hsl(vars.$clr-light);
}


.bg-white {
  background-color: hsl(vars.$clr-white);
}

.text-dark {
  color: hsl(vars.$clr-dark);
}

.text-accent {
  color: hsl(vars.$clr-light);
}

.text-white {
  color: hsl(vars.$clr-white);
}

/* typography */

.ff-serif {
  font-family: vars.$ff-serif;
}

.ff-sans-cond {
  font-family: vars.$ff-sans-cond;
}

.ff-sans-normal {
  font-family: vars.$ff-sans-normal;
}

.letter-spacing-1 {
  letter-spacing: vars.$letter-spacing-1;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-900);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  letter-spacing: vars.$letter-spacing-1;
  font-family: vars.$ff-sans-cond;
  font-size: var(--fs-500);
  color: vars.$clr-white;
}

.numbered-title span {
  margin-right: 0.5em;
  letter-spacing: vars.$letter-spacing-1;
  font-weight: 700;
  color: hsl(vars.$clr-white--alpha25);
}