@use '../abstracts/vars';
@use '../abstracts/mixins';

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content'
  ;

  &>img {
    grid-area: image;
    max-width: 60%;
  }

  &>.tab-list {
    grid-area: tabs;
  }

  &>.destination-info {
    grid-area: content;
  }
}

.numbered-title {
  grid-area: title;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(vars.$clr-white--alpha25);
  padding-top: 2.5rem;
  margin-top: 2.5rem;

  & p {
    font-size: 1.75rem;
  }
}


@include mixins.for-phone-up {
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .numbered-title {
    place-self: start;
    margin-block-start: 1rem;
    padding-left: 2.25rem;
  }
}

@include mixins.for-tablet-portrait-up {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);

    &--home {
      padding-bottom: #{"max(6rem, 20vh)"};
      align-items: end;
    }

    &--home>*:first-child {
      grid-column: 2;
    }

    &--home>*:last-child {
      grid-column: 3;
    }
  }

  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .'
    ;

    &>img {
      max-width: 90%;
    }
  }

  .destination-meta {
    justify-content: start;
    --gap: min(6vw, 6rem);
  }
}