@use '../abstracts/mixins';

@include mixins.for-phone-up {
  .numbered-title {
    margin-block-start: 2rem;
  }
}

@include mixins.medium-variation {
  .numbered-title {
    padding-left: 2.25rem;
    margin: 3rem 0;
  }
}