@use '../abstracts/mixins';

@include mixins.for-phone-up {
  .numbered-title {
    place-self: start;
    margin-block-start: 1rem;

  }
}

@include mixins.medium-variation {
  .numbered-title {
    padding-left: 2.25rem;
  }
}