@use 'mixins';

$gap: 1rem;
$flow-space: 2rem;

/* colors */
$clr-dark: 230 35% 7%;
$clr-dark--alpha95: 230 35% 7% / 0.95;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;
$clr-white--alpha05: 0 0% 100% / .05;
$clr-white--alpha50: 0 0% 100% / .5;
$clr-white--alpha25: 0 0% 100% / .25;
$clr-white--alpha0: 0 0% 100% / 0;

// letter spacing
$letter-spacing-1: 4.75px;

/* font-sizes */
:root {
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

@include mixins.for-phone-only {
  :root {
    --fs-900: 5rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 1rem;
  }
}

@include mixins.for-tablet-portrait-up {
  :root {
    --fs-900: 6rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* font-families */
$ff-serif: "Bellefair",
serif;
$ff-sans-cond: "Barlow Condensed",
sans-serif;
$ff-sans-normal: "Barlow",
sans-serif;